{% extends 'base.html.twig' %}

{% block title %}New Utilisateur{% endblock %}

{% block body %}
    <div id="menu"></div>
    <h1>Créer un nouvel employé</h1>

    {{ include('utilisateur/_form.html.twig') }}
{% endblock %}
