<form method="post" action="{{ path('prospect_delete', {'id': prospect.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer ce prospect ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ prospect.id) }}">
    <button class="customButton" style="margin-top: 3rem; background-color: red; color: white;">Supprimer</button>
</form>