{% extends 'base.html.twig' %}



{% block title %}Mon agenda{% endblock %}

{% block body %}
    <div id="home"></div>
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
 
{% if app.user %}
        <div class="mb-3">
            Vous êtes connecté avec {{ app.user.username }}
        </div>
    {% endif %}
    <div id="calendrier"> 
    </div>

    <button class="btn btn-lg" ><a href="/calendrier/new">Ajouter un Rendez-vous</a></button>
</div>
{% endblock %}



{% block javascripts %}

<script>
        window.onload = () => {
            let calendarElt = document.querySelector("#calendrier")

            let calendar = new FullCalendar.Calendar(calendarElt, {
                initialView: 'dayGridMonth',
                locale: "fr",

                buttonText: {prev:"Précédent",next:"Suivant",today:"Aujourd'hui",year:"Année",month:"Mois",week:"Semaine",day:"Jour",list:"Mon planning"},
                timeZone: "Europe/Paris",
                headerToolbar: {
                    start: "prev,next today",
                    center: "title",
                    end: "dayGridMonth,timeGridWeek",
                    
                },
                events: {{ data|raw }},
                editable: true,
                eventResizableFromStart: true,
                
            })
            calendar.on('eventChange', (e) => {
                console.log(e);
                let url = `/planning/${e.event.id}/edit`
                let donnees = {
                    "titre": e.event.title,
                    "description": e.event.extendedProps.description,
                    "start": e.event.start,
                    "end": e.event.end,
                    "jourComplet":e.event.allDay,
                    "emailRdv": e.event.extendedProps.emailRdv,
                    "emailCommercial": e.event.extendedProps.emailCommercial,
                }
             //   console.log(donnees);

             let xhr = new XMLHttpRequest

             xhr.open("PUT", url);
             xhr.send(JSON.stringify(donnees));

            })

            calendar.render()
        }


</script>

    {{ encore_entry_script_tags('rep_log_react') }}
{% endblock %}

